

.cvixx{
  background-color: #ffffff63;
  color: #090030;
  height: auto;
  width: 20vw;
  margin: 3px;
  border: 1px solid rgba(22, 2, 94, 0.185);
  border-radius:10px;
  z-index: 2;
}

h1{
text-align: center;
}
h2{
  text-align: center;
  }
.btn{
  z-index: 1;
  color: rgb(34, 34, 34);
  background-color: #60c4ae;
  border-radius: 40px;
  height: auto;
  width:150px;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 6px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 110, 255, 0.068),
  0 6.7px 5.3px rgba(255, 0, 0, 0.024),
  0 12.5px 10px rgba(0, 140, 255, 0.011),
  0 22.3px 17.9px rgba(255, 0, 0, 0.010),
  0 41.8px 33.4px rgba(0, 119, 255, 0.011),
  0 100px 80px rgba(255, 255, 255, 0.12)

  ;
  }
  .btn:hover{
    background: #60c4ae;
    color:rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
  }
/* .cvixx{
  background-color: #60c4ae;
  height: auto;
  width: 250px;
  margin: 3px;
  border-radius: 20px;
  z-index: 2;
  word-spacing: 9999999px;


}
.label_1{
    position: relative;
    z-index: 2;
    word-wrap:break-word;


    -ms-grid-columns: min-content;
    display: inline-block;
     word-break: break-word;
} */

.label_1{
    text-align: left;
    display: inline-block;
     word-break: break-word;
     margin-top: 15px;
     font:bold;
     font-weight: bold;
     font-size: 16px !important;
     /* color: rgb(57, 54, 87); */
     align-items:left ;

}

.buttonFl{

  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size:18px;
  font:bold;
  width: 65px;
  height: 45px;
  border-radius: 80px;
  display: flex;
  text-align:center;
  position:fixed;
  user-select: none;
  z-index:300;
  /* -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(15px); */
  bottom:0%;
  margin-bottom: 75px;

  background:rgb(210, 183, 253);
  color: rgb(78, 18, 156);
  border: 1px solid;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.068),
  0 6.7px 5.3px rgba(255, 0, 0, 0.024),
  0 12.5px 10px rgba(0, 140, 255, 0.011),
  0 22.3px 17.9px rgba(255, 0, 0, 0.010),
  0 41.8px 33.4px rgba(0, 119, 255, 0.011),
  0 100px 80px rgba(255, 255, 255, 0.12)
;



}


.imgAdd:focus{
  outline: none;
  border: 0;
  ;

}
.buttonFl:hover{
  transition: 0.2s ease-in-out;
  background:rgb(113, 92, 230);
  color: #ffffff;

  /* box-shadow:
  0 0px 0px 10px rgba(0, 16, 243, 0.308),
  0 0px 25px rgb(255, 255, 255),
  0 12.5px 10px rgba(0, 140, 255, 0.011),
  0 22.3px 17.9px rgba(255, 0, 0, 0.011),
  0 41.8px 33.4px rgba(0, 119, 255, 0.011),
  0 100px 80px rgba(255, 255, 255, 0.12)
; */

}


.btnAdj{
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
}

  /*
 .divFl{
  background: linear-gradient(rgba(248, 246, 255, 0),rgba(248, 246, 255, 0.356),rgb(248, 246, 255),rgb(248, 246, 255));
  line-height:auto;
  color:#012D54;
  text-shadow: 2px 2px white;
  text-align:center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position:fixed;
  z-index:299;
  width:100%;
  height: 235px;
  bottom:0%;
  }
  */
.bottomPadding{
  height: 140px;
  width:100%;
}



/* bigger laptops */
@media only screen and (min-width: 1224px) { }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 850px) and (max-width: 1024px) {}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 550px) and (max-width: 800px) {}
/* mobiles (landscape and portrait) */
@media only screen and (min-width: 320px) and (max-width: 500px) {

  .cvixx{

    height: auto;
    width: 94vw;
    margin: 3px;
    border: 1px solid rgba(22, 2, 94, 0.185);
    border-radius:10px;
    z-index: 2;
  }

}
